{extend name="main" /}
{block name="bodyheader"}
	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			<a href="#">首页</a>
		</li>
		<li class="active">{$modules.first_module_name}</li>
	</ul>
{/block}
{block name="content"}
	<div class="page-content">
		<div class="page-header">
			<h1>
				{empty name="modules.second_module_name"}
				{$modules.first_module_name}
				{else/}
				{$modules.second_module_name}
				{/empty}
				<small>
					<i class="icon-double-angle-right"></i>
					{empty name="modules.three_module_name"}
					{$modules.second_module_name}
					{else/}
					{$modules.three_module_name}
					{/empty}
				</small>
			</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">					
				<div class="row">
					<div class="col-xs-12">
						<div class="table-header">
							修改记录
						</div>				
						<div class="col-xs-12">
							<form class="form-horizontal" style="margin-top: 20px" id="myform" name="myform" method="post" action="">
								<input type="text" value="{$tbname}" name="tbname" hidden="hidden" />
								<input type="text" value="{$list.id}" name="id" hidden="hidden" />
								<div class="space-4"></div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" style="width:10%"> 名称 </label>
									<div class="col-sm-9">
										<input type="text" id="name" name="name" placeholder="请输入名称"  value="{$list.name}" required class="col-xs-10 col-sm-5" onblur="updateCheckObj(this,'{$list.name}','{$tbname}','name',{$list.id},'id')"/><span style="color:red">*</span>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" style="width:10%"> 类别 </label>
									<div class="col-sm-9">
										<select class="form-control" style="width:41.5%;padding:4px 0px" name="{$link_field}" id="{$link_field}">
											{volist name="link_lists" id="link_list"}
											{eq name="link_list.id" value="$list.type_id"}
											<option value="{$link_list.id}" selected>{$link_list.name}</option>
											{/eq}
											<option value="{$link_list.id}">{$link_list.name}</option>
											{/volist}
										</select>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" style="width:10%"> 释义 </label>
									<div class="col-sm-9">
										<input type="text" id="zn_name" name="zn_name" placeholder="请输入中文释义" class="col-xs-10 col-sm-5" style="width:70%" value="{$list.zn_name}"/>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" style="width:10%"> 相关内容 </label>
									<div id="editor" name="editor" style="width:80%;float:left;padding: 5px;padding-left: 12px;">
									</div>
									<textarea id="content" name="content" style="width:50%; height:200px;" hidden="hidden"></textarea>									
								</div>
								<input type="text" name="addtime" value="<?php echo time();?>" hidden="hidden" />
								<div class="space-4"></div>									
								<div class="col-md-offset-3 col-md-9" style="margin-left:9%;">
									<button class="btn btn-info" type="button" id="button" name="button">
										<i class="icon-ok bigger-110"></i>
										提交
									</button>
								</div>									
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input type="text" id="contents" name="contents" hidden="hidden" value="{$list.content|htmlspecialchars_decode}" />
	<style>
		.w-e-text-container {
			height:500px !important;
		}
	</style>
{/block}
{block name="js"}
<script type="text/javascript" src="__PLUG__/wangEditor-3.1.1/release/wangEditor.min.js"></script>
<script type="text/javascript" src="__PLUG__/wangEditor-plugin-master/wangEditor-codeMode-plugin.min.js"></script>
<script>
	$(function(){
		var E = window.wangEditor;
		var editor 		= new E('#editor');
		var content	 	= $('#content');
		editor.customConfig.debug = true;
		editor.customConfig.uploadImgMaxSize = 2 * 1024 * 1024;
		editor.customConfig.uploadFileName = 'sendImg';
		editor.customConfig.uploadImgServer = "{:url('admin/Check/checkImg',['tbname'=>$tbname])}";
		editor.customConfig.uploadImgHooks = {
			customInsert: function (insertImg, result, editor) {
				console.log(result);
					var url = result.data[0];
					insertImg(url);
			}
		};
		editor.customConfig.onchange = function (html) {
				content.val(html)
		};
		editor.create();
		E.codeMode.init("#editor");
		content.val(editor.txt.html());
		editor.txt.html($('#contents').val());
		content.val(editor.txt.html());
	})
</script>
<script>
	$("#button").click(function (){
		var name     = $.trim($('#name').val());
		var type	 = $.trim($('select').val());
		if(!name){
			layer.msg('内容不能为空',{time:600});
			return false;
		} else if(!type){
			layer.msg('类别名称不能为空',{time:600});
			return false;
		} else {
			$.ajax({
				url: "{:url('admin/Pubfive/update')}",
				data: $("#myform").serializeArray(),
				datatype: 'json',
				type: 'POST',
				async: false,
				success:function(res){
					if(res.status == 1){
						layer.msg(res.msg,{time:800,icon:1});
						setTimeout(jump, 1000);
						return
					} else {
						layer.msg(res.msg,{icon:2});
						return
					}
				},
				error:function(){
					layer.msg('系统未知错误');
					return false;
				}
			})
		}
	});
	function jump(){
		location.href = "{:url('admin/Pubfive/index',['navid'=>$navid,'level'=>$level,'misparent'=>$misparent,'tbname'=>$tbname])}";
	}
</script>
{/block}