{extend name="main" /}
{block name="bodyheader"}
	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			<a href="#">首页</a>
		</li>
		<li class="active">数据管理</li>
	</ul>
{/block}
<!-- 内容展示 重写-->
{block name="content"}
	<div class="page-content">
		<div class="page-header">
			<h1>
				数据管理
				<small>
					<i class="icon-double-angle-right"></i>
					数据列表
				</small>
			</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">					
				<div class="row">
					<div class="col-xs-12">
						<div class="table-header">
							数据列表
						</div>
						<div class="table-responsive">
							<div id="sample-table-2_wrapper" class="dataTables_wrapper">
								<div class="row">
									<div class="col-sm-6" style="width:100%">
										<div style="display:inline">
											<a href="javascript:void(0)" onclick="gobackup(this)" ><i class="icon-plus" style="margin-right: 0.5%"></i>备份数据</a>
										</div>
										<div style="float:right;">
											数据库中共有{$tableNum}张表，共计{$total}
										</div>
									</div>													
								</div>
								<div style="height:615px;overflow:scroll;">
									<table id="goodstable" class="table table-striped table-bordered table-hover" style="font-size: 8px;padding: 1px 1px;">
										<thead>
											<tr style="text-align: center">
												<th class="center" style="width:5%;text-align: center">
													选择
												</th>
												<th style="width:6%;padding:2px;vertical-align:middle;line-height: 0;text-align: center">排序</th>														
												<th style="width:21%;padding:2px;vertical-align:middle;line-height: 0;text-align: center">数据库表</th>
												<th style="width:7%;padding:2px;vertical-align:middle;line-height: 0;text-align: center">记录条数</th>
												<th style="width:8%;padding:2px;vertical-align:middle;line-height: 0;text-align: center">占用空间</th>
												<th style="width:12%;padding:2px;vertical-align:middle;line-height: 0;text-align: center">编码</th>
												<th style="width:16%;padding:2px;vertical-align:middle;line-height: 0;text-align: center">创建时间</th>
												<th style="width:17%;padding:2px;vertical-align:middle;line-height: 0;text-align: center">说明</th>
												<th style="padding:2px;vertical-align:middle;line-height: 0;text-align: center">操作</th>
											</tr>
										</thead>
										<tbody>
											{volist name="lists" id="list"}
												<tr style="padding: 6px;height:36px;vertical-align: middle;text-align: center">
													<td class="center" style="padding:2px;line-height: 0;vertical-align: middle">
														<label>
															<input type="checkbox" class="ace" value="{$list.Name}" name="backs" />
															<span class="lbl"></span>
														</label>
													</td>
													<td style="padding:2px;line-height: 0;vertical-align: middle">
														{$i}
													</td>															
													<td style="padding:2px;vertical-align: middle;text-align: left">
														{$list.Name}
													</td>
													<td style="padding:2px;vertical-align: middle;text-align: left">
														{$list.Rows}
													</td>
													<td style="padding:2px;vertical-align: middle;text-align: left">
														{$list.Data_length|format_bytes}
													</td>
													<td style="padding:2px;vertical-align: middle;text-align: left">
														{$list.Collation}
													</td>
													<td style="padding:2px;vertical-align: middle;text-align: left">
														{$list.Create_time}
													</td>
													<td style="padding:2px;vertical-align: middle;text-align: left">
														{$list.Comment}
													</td>
													<td style="padding:2px;line-height: 0;vertical-align: middle;text-align: center">
														<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
															<a class="blue" href="javascript:manageSql('{$list.Name}','optimize')" >
																优化
															</a>
															<a class="red" href="javascript:manageSql('{$list.Name}','repair')" >
																修复
															</a>
														</div>
													</td>
												</tr>
											{/volist}
										</tbody>
									</table>
								</div>
								<div class="space-4"></div>
								<div style="border:none;">
									<div>
										<div style="display:inline;vertical-align: middle;">
											<label>
												<input type="checkbox" class="ace" id="checkall" />
												<span class="lbl" style="font-size: 8px">全选</span>
											</label>
											<label style="margin-left:10px">
												<input type="checkbox" class="ace" id="checkpart" />
												<span class="lbl" style="font-size: 8px">反选</span>
											</label>
											<a href="javascript:manageSql('tables','optimize')" class="blue" style="text-decoration:none;margin-left: 10px">优化</a>
											<a href="javascript:manageSql('tables','repair')" class="red" style="text-decoration:none;margin-left: 10px">修复</a>
										</div>
									</div>  
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
{/block}
<!-- script文件加载 重写-->
{block name="js"}
	<script>
	//全选
	$("#checkall").click(function(){
   	  	if(this.checked){
			$("#checkpart").attr('checked',false);
			$("[name=backs]:checkbox").each(function() {
				this.checked = 'checked';
			});
		}
		else{
			$("[name=backs]:checkbox").each(function() {
				this.checked = '';
			});
		}
   	});
	//反选
	$("#checkpart").click(function(){
		if(this.checked){
			$("#checkall").attr('checked',false);
		}
		$("[name=backs]:checkbox").each(function() {
			this.checked = !this.checked;
		});
   	});
	//备份数据
	function gobackup(obj){
		var a = [];
		$('input[name*=backs]').each(function(i,o){
			if($(o).is(':checked')){
				a.push($(o).val());
			}
		});
		if(a.length == 0){
			layer.msg('请选择要备份的数据表', {icon: 2});
			return;
		}else{
			$(obj).attr('style','color:#999');
			$(obj).html('备份进行中...');
			$.ajax({
				type :'POST',
				url : "{:url('admin/Tools/export')}",
				datatype : 'json',
				data : {tables:a},
				success : function(data){
					if(data.status == 1){
						$(obj).html(data.info + "开始备份，请不要关闭本页面！");
						layer.msg(data.info, {icon: 1,time:500});
						backup(obj , data.tab);
					}else{
						$(obj).removeAttr('style');
						$(obj).html("立即备份");
						layer.msg(data.info, {icon: 2});
					}
				},
				error:function(){
					layer.msg('系统未知错误');
					return false;
				}
			})
		}
	}
	function backup(obj, tab, status){
		$.ajax({
			type :'GET',
			url : "{:url('admin/Tools/export')}",
			datatype : 'json',
			data : {id:tab.id,start:tab.start},
			success : function(data){
				if(data.status == 2){
					layer.msg(data.info, {icon: 1});
					$(obj).removeAttr('style');
					$(obj).html(data.info);
				}
				else if(data.status == 1){
					$(obj).html(data.info);
					backup(obj , data.tab, tab.id != data.tab.id);
				}
				else{
					$(obj).removeAttr('style');
					$(obj).html("立即备份");
					layer.msg(data.info, {icon: 2});
				}
			},
			error:function(){
				layer.msg('系统未知错误');
				return false;
			}
		})
	}
	//优化  修复
	function manageSql(table,type){
		if(table == 'tables'){
			var b = [];
			$('input[name*=backs]').each(function(i,o){
				if($(o).is(':checked')){
					b.push($(o).val());
				}
			});
			if(b.length == 0){
				layer.msg('请选择要优化的数据表', {icon: 2});
				return;
			}
			else{
				manageSqlData(b,type);
			}
		}
		else{
			manageSqlData(table,type);
		}
	}
	function manageSqlData(table,type){
		$.ajax({
			type :'POST',
			url : "{:url('admin/Tools/manage')}",
			datatype : 'json',
			data : {table:table,type:type},
			success : function(res){
				if(res.status == 1){
					layer.msg(res.msg, {icon: 1,time:600});
				}
				else{
					layer.msg(res.msg, {icon: 2,time:600});
				}
				return;
			},
			error:function(){
				layer.msg('系统未知错误');
				return false;
			}
		})
	}
	</script>
{/block}