{extend name="main" /}
{block name="bodyheader"}
	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			<a href="#">首页</a>
		</li>
		<li class="active">回收站点</li>
	</ul>
{/block}
{block name="content"}
	<div class="page-content">
		<div class="page-header">
			<h1>
				回收站点
				<small>
					<i class="icon-double-angle-right"></i>
					记录列表
				</small>
			</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="table-header">
					记录列表
				</div>
				<div class="table-responsive">
					<div id="sample-table-2_wrapper" class="dataTables_wrapper">
						<div class="row">
							<div class="col-sm-6" style="width:100%">
								<div style="display:inline">
									<a href=""><i class="icon-plus" style="margin-right: 0.5%"></i>添加记录</a>
								</div>											
							</div>													
						</div>
						<table class="table table-striped table-bordered table-hover" style="padding:1px 1px">
							<thead>
								<tr style="height:45px">
									<th class="center" style="width:5%;text-align: center">	选择 </th>
									<th style="width:72%;padding:8px 3px;text-align: center">标题或名称</th>																									
									<th style="width:15%;padding:8px 3px;text-align: center">
										<i class="icon-time bigger-110 hidden-480"></i>
										更新时间
									</th>	
									<th style="padding:8px 1px;text-align: center">操作</th>														
								</tr>
							</thead>
							<tbody>
								{volist name="lists" id="list"}
								<tr style="height:40px" id="{$list.tbname}{$list.id}">
									<td class="center" style="padding:2px;line-height: 0;vertical-align: middle">
										<label>
											<input type="checkbox" class="ace" value="{$list.id}" name="{$list.tbname}" />
											<span class="lbl"></span>
										</label>
									</td>
									<td style="vertical-align:middle;padding:4px 2px;">{$list.name}</td>																											
									<td class="hidden-480" style="vertical-align:middle;padding:4px 2px;text-align: center;">
										{$list.addtime|date="Y-m-d H:i:s"}
									</td>
									<td style="padding:0px;line-height: 0;vertical-align: middle;text-align: center">
										<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
											<div id="" style="display:inline">
												<a href="javascript:recoverObj({$list.id},'{$list.tbname}')" >
													<i class="icon-mail-forward"></i>
												</a>
												<a class="light-red" href="javascript:deleteObj({$list.id},'{$list.tbname}')" style="margin:0px">
													<i class="icon-trash bigger-130"></i>
												</a>
											</div>
										</div>
									</td>
								</tr>
								{/volist}
							</tbody>
						</table>	
					</div>
				</div>
			</div>
		</div>
	</div>
{/block}
{block name="js"}
<script>
//恢复记录
function recoverObj(id,tbname){
	$.ajax({
		url: "{:url('admin/Check/recoverObj')}",
		data: {'id':id,'tbname':tbname},
		datatype: 'json',
		type: 'POST',
		async: false,
		success:function(res){
			if(res.status == 1){
				layer.msg(res.msg,{time:800,icon:1});
				$('#'+tbname+id).remove();
			} else {
				layer.msg(res.msg,{icon:2});
			}
			return;
		},
		error:function(){
			layer.msg('系统未知错误');
			return false;
		}
	})
}
//永久删除记录
function deleteObj(id,tbname){
	layer.confirm('确定永久删除这条记录吗？', {
		btn: ['确定','取消']
	}, function(){
		$.ajax({
			url: "{:url('admin/Check/deleteObj')}",
			data: {'id':id,'tbname':tbname},
			datatype: 'json',
			type: 'POST',
			async: false,
			success:function(res){
				if(res.status == 1){
					layer.msg(res.msg,{time:800,icon:1});
					$('#'+tbname+id).remove();
				} else {
					layer.msg(res.msg,{icon:2});
				}
				return;
			},
			error:function(){
				layer.msg('系统未知错误');
				return false;
			}
		})
	}, function(){
		layer.msg('取消成功！',{time:800,icon:1});
	});
}
</script>
{/block}