{extend name="main" /}
{block name="css"}
<style>
.layui-elem-quote {
    margin-bottom: 10px;
    padding: 15px;
    line-height: 22px;
    border-left: 5px solid #009688;
    border-radius: 0 2px 2px 0;
    background-color: #f2f2f2;
    background-size: 100%;
}
.layui-table {
    width: 100%;
    background-color: #fff;
    color: #666;
    margin: 10px 0;

}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.layui-table td, .layui-table th {
    position: relative;
    padding: 9px 15px;
    min-height: 20px;
    line-height: 20px;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: #e6e6e6;
}
</style>
{/block}
{block name="bodyheader"}
<ul class="breadcrumb">
    <li>
        <i class="icon-home home-icon"></i>
        <a href="#">首页</a>
    </li>
    <li class="active">控制台</li>
</ul>
{/block}
{block name="content"}
<div class="page-content">
    <div class="page-header">
        <h1>
            控制台
            <small>
                <i class="icon-double-angle-right"></i>
                    欢迎界面
            </small>
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <i class="icon-ok green"></i>
                欢迎使用
                <strong class="green">
                    编程语言学习总结系统
                    <small id="nowTime"></small>
                </strong>
            </div>
            <div class="row">
                <div class="sysNotice col" style="padding:0px 12px 0px 12px">
                    <span class="layui-elem-quote" style="font-size:16px">系统基本参数</span>
                    <div style="height: 10px;"></div>
                    <table class="layui-table">
                        <tbody>
                            <tr>
                                <td style="width:20%">服务器环境:</td>
                                <td class="" colspan="3">{$sys_info.web_server}</td>
                            </tr>
                            <tr>
                                <td>服务器操作系统:</td>
                                <td class="" style="width:35%">{$sys_info.os}</td>
                                <td style="width:18%">服务器域名/IP:</td>
                                <td class="">{$sys_info.domain} [ {$sys_info.ip} ]</td>
                            </tr>
                            <tr>
                                <td>PHP 版本:</td>
                                <td class="">{$sys_info.phpv}</td>
                                <td>Mysql 版本:</td>
                                <td class="">{$sys_info.mysql_version}</td>
                            </tr>
                            <tr>
                                <td>程序开发:</td>
                                <td class=""><a href="https://github.com/dageyu/study" target="_blank" style="color:blueviolet">个人git学习网站</a></td>
                                <td>版权所有:</td>
                                <td class="">盗版必究</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
    //获取系统时间
    var newDate = '';
    getLangDate();
    //值小于10时，在前面补0
    function dateFilter(date){
        if(date < 10){return "0"+date;}
        return date;
    }
    function getLangDate(){
        var dateObj = new Date(); //表示当前系统时间的Date对象
        var year = dateObj.getFullYear(); //当前系统时间的完整年份值
        var month = dateObj.getMonth()+1; //当前系统时间的月份值
        var date = dateObj.getDate(); //当前系统时间的月份中的日
        var day = dateObj.getDay(); //当前系统时间中的星期值
        var weeks = ["星期日","星期一","星期二","星期三","星期四","星期五","星期六"];
        var week = weeks[day]; //根据星期值，从数组中获取对应的星期字符串
        var hour = dateObj.getHours(); //当前系统时间的小时值
        var minute = dateObj.getMinutes(); //当前系统时间的分钟值
        var second = dateObj.getSeconds(); //当前系统时间的秒钟值
        var timeValue = "" +((hour >= 12) ? (hour >= 18) ? "晚上" : "下午" : "上午" ); //当前时间属于上午、晚上还是下午
        newDate = dateFilter(year)+"年"+dateFilter(month)+"月"+dateFilter(date)+"日 "+" "+dateFilter(hour)+":"+dateFilter(minute)+":"+dateFilter(second);
        document.getElementById("nowTime").innerHTML = timeValue+"好！ 当前时间为： "+newDate+"　"+week;
        setTimeout("getLangDate()",1000);
    }
</script>
{/block}