{extend name="main" /}
{block name="bodyheader"}
	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			<a href="#">首页</a>
		</li>
		<li class="active">{$modules.first_module_name}</li>
	</ul>
{/block}
{block name="content"}
	<div class="page-content">
		<div class="page-header">
			<h1>
				{empty name="modules.second_module_name"}
				{$modules.first_module_name}
				{else/}
				{$modules.second_module_name}
				{/empty}
				<small>
					<i class="icon-double-angle-right"></i>
					{empty name="modules.three_module_name"}
					{$modules.second_module_name}
					{else/}
					{$modules.three_module_name}
					{/empty}
				</small>
			</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="table-header">
					内容列表
				</div>
				<div class="table-responsive">
					<div id="sample-table-2_wrapper" class="dataTables_wrapper">
						<div class="row">
							<div class="col-sm-6" style="width:100%">
								<div style="display:inline">
									<a href="{:url('admin/Pubzero/add',['navid'=>$navid,'level'=>$level,'misparent'=>$misparent,'tbname'=>$tbname])}"><i class="icon-plus" style="margin-right: 0.5%"></i>添加记录</a>
								</div>											
							</div>													
						</div>
						<table class="table table-striped table-bordered table-hover" style="padding:1px 1px">
							<thead>
								<tr style="height:45px">
									<th class="center" style="width:5%;text-align: center">	选择 </th>
									<th style="width:20%;padding:8px 3px;text-align: center">分类名称</th>																									
									<th style="width:55%;padding:8px 3px;text-align: center">描述</th>
									<th style="width:15%;padding:8px 3px;text-align: center">
										<i class="icon-time bigger-110 hidden-480"></i>
										更新时间
									</th>	
									<th style="padding:8px 1px;text-align: center">操作</th>														
								</tr>
							</thead>
							<tbody>
								{volist name="lists" id="list"}
								<tr style="height:40px" id="{$table}{$list.id}">
									<td class="center" style="padding:2px;line-height: 0;vertical-align: middle">
										<label>
											<input type="checkbox" class="ace" value="{$list.id}" name="{$table}" />
											<span class="lbl"></span>
										</label>
									</td>
									<td style="vertical-align:middle;padding:4px 1px;" id="name{$list.id}">
										<input type="text" value="{$list.name}" onblur="updateObj(this,'{$list.name}','{$table}','name','{$list.id}','id',1)" style="color:#393939;width:100%;border:none; background:transparent;padding: 0px;font-size: 13px;height: 30px;"/>
									</td>																											
									<td style="vertical-align:middle;padding:4px 1px;" id="content{$list.id}">
										<input type="text" value="{$list.content|getSubstr=###,0,60}" onblur="updateObj(this,'{$list.content}','{$table}','content','{$list.id}','id',1)" style="color:#393939;width:100%;border:none; background:transparent;padding: 0px;font-size: 13px;height: 30px;"/>
									</td>
									<td class="hidden-480" style="vertical-align:middle;padding:4px 1px;text-align: center;" id="addtime{$list.id}">
										{$list.addtime|date="Y-m-d H:i:s"}
									</td>
									<td style="padding:0px;line-height: 0;vertical-align: middle;text-align: center">
										<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
											<div id="" style="display:inline">
												<a class="red" href="javascript:deleteObjOne({$list.id},'id','{$table}')" style="margin:0px">
													<i class="icon-trash bigger-130"></i>
												</a>
											</div>
										</div>
									</td>
								</tr>
								{/volist}
							</tbody>
						</table>	
					</div>
					<div class="space-4"></div>
					<div style="border:none;">
						<div>
							<div style="display:inline;vertical-align: middle;">
								<label>
									<input type="checkbox" class="ace" id="checkedall" />
									<span class="lbl" style="font-size: 8px">全选</span>
								</label>
								<label style="margin-left:10px">
									<input type="checkbox" class="ace" id="checkedpart" />
									<span class="lbl" style="font-size: 8px">反选</span>
								</label>
								<a class="red" href="javascript:deleteObjMore('{$table}')" style="text-decoration:none;margin-left: 10px">
									<i class="icon-trash bigger-130"></i>
								</a>
							</div>
						</div>  
					</div>
				</div>
			</div>
		</div>
	</div>
{/block}
{block name="js"}
<script>
//全选
$("#checkedall").click(function(){
	if(this.checked){
		$("#checkedpart").attr('checked',false);
		$("[name={$table}]:checkbox").each(function() {
			this.checked = 'checked';
		});
	}
	else{
		$("[name={$table}]:checkbox").each(function() {
			this.checked = '';
		});
	}
});
//反选
$("#checkedpart").click(function(){
	if(this.checked){
		$("#checkedall").attr('checked',false);
	}
	$("[name={$table}]:checkbox").each(function() {
		this.checked = !this.checked;
	});
});
</script>
{/block}