{extend name="main" /}
{block name="bodyheader"}
	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			<a href="#">首页</a>
		</li>
		<li class="active">菜单管理</li>
	</ul>
{/block}
{block name="content"}
	<div class="page-content">
		<div class="page-header">
			<h1>
				菜单管理
				<small>
					<i class="icon-double-angle-right"></i>
					添加菜单
				</small>
			</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">					
				<div class="row">
					<div class="col-xs-12">
						<div class="table-header">
							添加新的菜单
						</div>				
						<div class="col-xs-12">
							<form class="form-horizontal" style="margin-top: 20px" id="myform" name="myform" method="post" action="">
							{eq name="data.tbname" value="first_module"}
								<div class="space-4"></div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" style="width:10%"> 模块名称 </label>
									<div class="col-sm-9">
										<input type="text" id="model" name="fm_name" placeholder="请输入模块名称" maxlength="30" required class="col-xs-10 col-sm-5" onblur="checkObj(this,0,0,'',1,'{$data.tbname}','{$data.field}','',0)"/><span style="color:red">*</span>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" style="width:10%"> 控制器 </label>
									<div class="col-sm-9">
										<select class="form-control" style="width:41.5%;padding:4px 0px" name="fm_controller" id="controller">
											<option value="">&nbsp;请选择控制器</option>
											{volist name="dirs" id="dir"}
											<option value="{$dir}">{$dir}</option>
											{/volist}
										</select>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" style="width:10%"> 自定义方法 </label>
									<div class="col-sm-9">
										<input type="text" id="method" name="fm_method" value="index" placeholder="请输入自定义方法" maxlength="30" required class="col-xs-10 col-sm-5"/>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" style="width:10%"> 前置标签 </label>
									<div class="col-sm-9">
										<input type="text" id="icon" name="fm_icon" placeholder="请输入前置标签" maxlength="30" required class="col-xs-10 col-sm-5"/>
									</div>
								</div>
								<div class="space-4"></div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" style="width:10%"> 排序 </label>
									<div class="col-sm-9">
										<input type="text" id="sort" name="fm_sort" placeholder="请输入排序数字" maxlength="30" required class="col-xs-10 col-sm-5"/>
									</div>
								</div>
								<input type="text" name="fm_addtime" value="<?php echo time();?>" hidden="hidden" />
								{else/}
									{eq name="data.tbname" value="second_module"}
										<input type="text" id="fm_id" name="fm_id" value="{$data.parent_id}" hidden="hidden" />
										<div class="space-4"></div>
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" style="width:10%"> 模块名称 </label>
											<div class="col-sm-9">
												<input type="text" id="model" name="sm_name" placeholder="请输入模块名称" maxlength="30" required class="col-xs-10 col-sm-5" onblur="checkObj(this,0,0,'',1,'{$data.tbname}','{$data.field}','fm_id',{$data.parent_id})"/><span style="color:red">*</span>
											</div>
										</div>
										<div class="space-4"></div>
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" style="width:10%"> 控制器 </label>
											<div class="col-sm-9">
												<select class="form-control" style="width:41.5%;padding:4px 0px" name="sm_controller" id="controller">
													<option value="">&nbsp;请选择控制器</option>
													{volist name="dirs" id="dir"}
													<option value="{$dir}">{$dir}</option>
													{/volist}
												</select>
											</div>
										</div>
										<div class="space-4"></div>
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" style="width:10%"> 自定义方法 </label>
											<div class="col-sm-9">
												<input type="text" id="method" name="sm_method" value="index" placeholder="请输入自定义方法" maxlength="10" required class="col-xs-10 col-sm-5"/>
											</div>
										</div>
										<div class="space-4"></div>
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" style="width:10%"> 前置标签 </label>
											<div class="col-sm-9">
												<input type="text" id="icon" name="sm_icon" placeholder="请输入前置标签" maxlength="30" required class="col-xs-10 col-sm-5"/>
											</div>
										</div>
										<div class="space-4"></div>
										<div class="form-group">
											<label class="col-sm-3 control-label no-padding-right" style="width:10%"> 排序 </label>
											<div class="col-sm-9">
												<input type="text" id="sort" name="sm_sort" placeholder="请输入排序数字" maxlength="30" required class="col-xs-10 col-sm-5"/>
											</div>
										</div>
										<input type="text" name="sm_addtime" value="<?php echo time();?>" hidden="hidden" />
									{else/}
											<input type="text" id="sm_id" name="sm_id" value="{$data.parent_id}" hidden="hidden" />
											<div class="space-4"></div>
											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right" style="width:10%"> 模块名称 </label>
												<div class="col-sm-9">
													<input type="text" id="model" name="tm_name" placeholder="请输入模块名称" maxlength="30" required class="col-xs-10 col-sm-5" onblur="checkObj(this,0,0,'',1,'{$data.tbname}','{$data.field}','sm_id',{$data.parent_id})"/><span style="color:red">*</span>
												</div>
											</div>
											<div class="space-4"></div>
											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right" style="width:10%"> 控制器 </label>
												<div class="col-sm-9">
													<select class="form-control" style="width:41.5%;padding:4px 0px" name="tm_controller" id="controller">
														<option value="">&nbsp;请选择控制器</option>
														{volist name="dirs" id="dir"}
														<option value="{$dir}">{$dir}</option>
														{/volist}
													</select>
												</div>
											</div>
											<div class="space-4"></div>
											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right" style="width:10%"> 自定义方法 </label>
												<div class="col-sm-9">
													<input type="text" id="method" name="tm_method" value="index" placeholder="请输入自定义方法" maxlength="30" required class="col-xs-10 col-sm-5" />
												</div>
											</div>
											<div class="space-4"></div>
											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right" style="width:10%"> 前置标签 </label>
												<div class="col-sm-9">
													<input type="text" id="icon" name="tm_icon" placeholder="请输入前置标签" maxlength="30" required class="col-xs-10 col-sm-5" />
												</div>
											</div>
											<div class="space-4"></div>
											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right" style="width:10%"> 排序 </label>
												<div class="col-sm-9">
													<input type="text" id="sort" name="tm_sort" placeholder="请输入排序数字" maxlength="30" required class="col-xs-10 col-sm-5"/>
												</div>
											</div>
											<input type="text" name="tm_addtime" value="<?php echo time();?>" hidden="hidden" />
									{/eq}
								{/eq}
											<div class="space-4"></div>
											<div class="form-group">
												<label class="col-sm-3 control-label no-padding-right" style="width:10%"> 表名 </label>
												<div class="col-sm-9">
													<select class="form-control" style="width:41.5%;padding:4px 0px" name="tbname" id="tbname">
														<option value="">&nbsp;请选择表名</option>
														{volist name="tables" id="table"}
														<option value="{$table.Name}">{$table.Name}</option>
														{/volist}
													</select>
												</div>
											</div>
								<div class="space-4"></div>									
								<div class="col-md-offset-3 col-md-9" style="margin-left:9%;">
									<button class="btn btn-info" type="button" id="button" name="button">
										<i class="icon-ok bigger-110"></i>
										提交
									</button>
								</div>									
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{/block}
{block name="js"}
<script>
	$("#button").click(function (){
		var model     		= $.trim($('#model').val());
		if(!model){
			layer.msg('内容不能为空',{time:600});
			return false;
		} else {
			$.ajax({
				url: "{:url('admin/menu/add')}",
				data: $("#myform").serializeArray(),
				datatype: 'json',
				type: 'POST',
				async: false,
				success:function(res){
					if(res.status == 1){
						layer.msg(res.msg,{icon:1});
						location.href = "{:url('admin/menu/index')}";
						return
					} else {
						layer.msg(res.msg,{icon:2});
						return
					}
				},
				error:function(){
					layer.msg('系统未知错误');
					return false;
				}
			})
		}
	});
</script>
{/block}