<ul class="nav nav-list" style="margin-top:-19px">
	<li class="active" name="active" id="fm0">
		<a href="javascript:jumpModule('Menu','index','fm0',1,0,0)" >
			<i class="icon-desktop"></i>
			<span class="menu-text"> 菜单管理 </span>
		</a>
	</li>
	{volist name="fm_lists" id="fm_list"}
	<li class="" name="active" id="fm{$fm_list.fm_id}">
		{eq name="fm_list.is_parent" value="1"}
		<a class="dropdown-toggle" href="javascript:jumpModule('','','fm{$fm_list.fm_id}',1,1,0)" >
		{else/}
		<a href="javascript:jumpModule('{$fm_list.fm_controller}','{$fm_list.fm_method}','fm{$fm_list.fm_id}',1,0,0)" >
		{/eq}
			<i class="{$fm_list.fm_icon}"></i>
			<span class="menu-text"> {$fm_list.fm_name} </span>
			{eq name="fm_list.is_parent" value="1"}
			<b class="arrow icon-angle-down"></b>
			{/eq}
		</a>
		{eq name="fm_list.is_parent" value="1"}
			<ul class="submenu">
				{volist name="sm_lists" id="sm_list"}
				{eq name="sm_list.fm_id" value="$fm_list.fm_id"}
				<li class="" name="" id="sm{$sm_list.sm_id}">
					{eq name="sm_list.is_parents" value="1"}
					<a href="javascript:jumpModule('','','sm{$sm_list.sm_id}',2,1,0)" class="dropdown-toggle" >
					{else/}
					<a href="javascript:jumpModule('{$sm_list.sm_controller}','{$sm_list.sm_method}','sm{$sm_list.sm_id}',2,0,'{$sm_list.tbname}')" >
					{/eq}
						<i class="{$sm_list.sm_icon}"></i>
						{$sm_list.sm_name}
						{eq name="sm_list.is_parents" value="1"}
						<b class="arrow icon-angle-down"></b>
						{/eq}
					</a>
					{eq name="sm_list.is_parents" value="1"}
						<ul class="submenu">
							{volist name="tm_lists" id="tm_list"}
							{eq name="tm_list.sm_id" value="$sm_list.sm_id"}
							<li class="" name="" id="tm{$tm_list.tm_id}">
								<a href="javascript:jumpModule('{$tm_list.tm_controller}','{$tm_list.tm_method}','tm{$tm_list.tm_id}',3,0,'{$tm_list.tbname}')" >
									<i class="{$tm_list.tm_icon}"></i>
									{$tm_list.tm_name}
								</a>
							</li>
							{/eq}
							{/volist}
						</ul>
					{/eq}
				</li>
				{/eq}
				{/volist}
			</ul>
		{/eq}
	</li>
	{/volist}
	<li class="" name="active">
		<a href="javascript:cleanCache()">
			<i class="icon-circle-blank"></i>
			<span class="menu-text"> 清理缓存 </span>
		</a>
	</li>
	<li class="" name="active">
		<a href="javascript:logout()">
			<i class="icon-off"></i>
			<span class="menu-text"> 退出平台 </span>
		</a>
	</li>
</ul>
<div class="sidebar-collapse" id="sidebar-collapse">
	<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
</div>
<script type="text/javascript">
	try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
</script>