{extend name="main" /}
{block name="bodyheader"}
	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			<a href="#">首页</a>
		</li>
		<li class="active">菜单管理</li>
	</ul>
{/block}
{block name="content"}
	<div class="page-content">
		<div class="page-header">
			<h1>
				菜单管理
				<small>
					<i class="icon-double-angle-right"></i>
					菜单列表
				</small>
			</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="table-header">
					菜单列表
				</div>
				<div class="table-responsive">
					<div id="sample-table-2_wrapper" class="dataTables_wrapper">
						<div class="row">
							<div class="col-sm-6" style="width:100%">
								<div style="display:inline">
									<a href="{:url('admin/menu/add')}"><i class="icon-plus" style="margin-right: 0.5%"></i>添加一级模块</a>
								</div>											
							</div>													
						</div>
						<table class="table table-striped table-bordered table-hover" style="padding: 1px 1px">
							<thead>
								<tr style="height:45px">
									<th style="width:6%;text-align: center">排序</th>
									<th style="width:18%;padding:8px 3px;text-align: center">前置标签</th>																									
									<th style="width:9%;padding:8px 3px;text-align: center">一级模块</th>
									<th style="width:9%;padding:8px 3px;text-align: center">二级模块</th>
									<th style="width:9%;padding:8px 3px;text-align: center">三级模块</th>
									<th style="width:10%;padding:8px 3px;text-align: center">控制器</th>	
									<th class="hidden-480" style="width:10%;padding:8px 3px;text-align: center">方法名称</th>														
									<th class="hidden-480" style="width:6%;padding:8px 3px;text-align: center">显示</th>
									<th style="width:16%;padding:8px 3px;text-align: center">
										<i class="icon-time bigger-110 hidden-480"></i>
										更新时间
									</th>	
									<th style="padding:8px 3px;text-align: center">操作</th>														
								</tr>
							</thead>
							<tbody>
								{volist name="fm_lists" id="fm_list" key="fkey"}
								<tr style="height:40px">
									<td class="center" style="vertical-align:middle;padding:4px">{$fkey}</td>
									<td style="vertical-align:middle;padding:4px"><i class="{$fm_list.fm_icon}"></i>
										<span style="margin-left:4px">
											{$fm_list.fm_icon}
										</span>
									</td>																											
									<td style="vertical-align:middle;padding:4px">
										<a href="#" style="color:#393939">{$fm_list.fm_name}</a>
									</td>
									<td style="vertical-align:middle;padding:4px">
									</td>
									<td style="vertical-align:middle;padding:4px">
									</td>
									<td style="vertical-align:middle;padding:4px" id="">
										<a href="#" style="color:#393939">{$fm_list.fm_controller}</a>
									</td>
									<td style="vertical-align:middle;padding:4px">
											{$fm_list.fm_method}
									</td>
									<td style="vertical-align:middle;padding:4px" id="fm_state{$fm_list.fm_id}">
										{eq name="fm_list.fm_state" value="1"}
											<span style="color:rgb(10, 184, 48)" >是</span>
										{else/}
											<span style="color:#8089a0" >否</span>
										{/eq}
									</td>
									<td class="hidden-480" style="vertical-align:middle;padding:4px">
										{$fm_list.fm_addtime|date="Y-m-d H:i:s"}
									</td>
									<td style="padding:2px;line-height: 0;vertical-align: middle;text-align: center">
										<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
											<a class="blue" href="" style="margin:0 1px">
												<i class="icon-plus bigger-120"></i>
											</a>
											<div id="" style="display:inline">
												<a class="green" href="" style="margin:0 1px" >
													<i class="icon-pencil bigger-120"></i>
												</a>
											</div>
											<div id="" style="display:inline">
												<a class="red" href="" style="margin:0 1px" >
													<i class="icon-trash bigger-120"></i>
												</a>
											</div>
										</div>
									</td>
								</tr>
								{eq name="fm_list.is_parent" value="1"}
									{volist name="sm_lists" id="sm_list" key="skey"}
									{eq name="sm_list.fm_id" value="$fm_list.fm_id"}
										<tr style="height:40px">
											<td class="center" style="vertical-align:middle;padding:4px">{$fkey}.{$skey}</td>
											<td style="vertical-align:middle;padding:4px"><i class="{$sm_list.sm_icon}"></i>
												<span style="margin-left:4px">
													{$sm_list.sm_icon}
												</span>
											</td>																											
											<td style="vertical-align:middle;padding:4px">
											</td>
											<td style="vertical-align:middle;padding:4px">
												<a href="#" style="color:#393939">{$sm_list.sm_name}</a>
											</td>
											<td style="vertical-align:middle;padding:4px">
											</td>
											<td style="vertical-align:middle;padding:4px" id="">
												<a href="#" style="color:#393939">{$sm_list.sm_controller}</a>
											</td>
											<td style="vertical-align:middle;padding:4px">
													{$sm_list.sm_method}
											</td>
											<td style="vertical-align:middle;padding:4px" id="sm_state{$sm_list.sm_id}">
												{eq name="sm_list.sm_state" value="1"}
													<span style="color:rgb(10, 184, 48)" >是</span>
												{else/}
													<span style="color:#8089a0" >否</span>
												{/eq}
											</td>
											<td class="hidden-480" style="vertical-align:middle;padding:4px">
												{$sm_list.sm_addtime|date="Y-m-d H:i:s"}
											</td>
											<td style="padding:2px;line-height: 0;vertical-align: middle;text-align: center">
												<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
													<a class="blue" href="" style="margin:0 1px">
														<i class="icon-plus bigger-120"></i>
													</a>
													<div id="" style="display:inline">
														<a class="green" href="" style="margin:0 1px" >
															<i class="icon-pencil bigger-120"></i>
														</a>
													</div>
													<div id="" style="display:inline">
														<a class="red" href="" style="margin:0 1px" >
															<i class="icon-trash bigger-120"></i>
														</a>
													</div>
												</div>
											</td>
										</tr>
										{/eq}
									{/volist}
									{/eq}
								{/volist}
							</tbody>
						</table>	
					</div>
				</div>
			</div>
		</div>
	</div>
{/block}