{extend name="main" /}
{block name="bodyheader"}
	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			<a href="#">首页</a>
		</li>
		<li class="active">菜单管理</li>
	</ul>
{/block}
{block name="content"}
	<div class="page-content">
		<div class="page-header">
			<h1>
				菜单管理
				<small>
					<i class="icon-double-angle-right"></i>
					菜单列表
				</small>
			</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="table-header">
					菜单列表
				</div>
				<div class="table-responsive">
					<div id="sample-table-2_wrapper" class="dataTables_wrapper">
						<div class="row">
							<div class="col-sm-6" style="width:100%">
								<div style="display:inline">
									<a href="{:url('admin/menu/add',['is_parent'=>0,'tbname'=>'first_module','field'=>'fm_name','parent_id'=>0,'parent_field'=>''])}"><i class="icon-plus" style="margin-right: 0.5%"></i>添加一级模块</a>
								</div>											
							</div>													
						</div>
						<table class="table table-striped table-bordered table-hover" style="padding: 1px 1px">
							<thead>
								<tr style="height:45px">
									<th style="width:5%;text-align: center">排序</th>
									<th style="width:14%;padding:8px 3px;text-align: center">前置标签</th>																									
									<th style="width:7%;padding:8px 3px;text-align: center">一级模块</th>
									<th style="width:7%;padding:8px 3px;text-align: center">二级模块</th>
									<th style="width:7%;padding:8px 3px;text-align: center">三级模块</th>
									<th style="width:9%;padding:8px 3px;text-align: center">控制器</th>	
									<th class="hidden-480" style="width:5.5%;padding:8px 3px;text-align: center">方法</th>
									<th class="hidden-480" style="width:17%;padding:8px 3px;text-align: center">表名</th>														
									<th class="hidden-480" style="width:4%;padding:8px 3px;text-align: center">显示</th>
									<th class="hidden-480" style="width:4%;padding:8px 3px;text-align: center">父类</th>
									<th class="hidden-480" style="width:4%;padding:8px 3px;text-align: center">设权</th>
									<th class="hidden-480" style="width:4%;padding:8px 3px;text-align: center">公开</th>
									<th style="width:9%;padding:8px 3px;text-align: center">
										<i class="icon-time bigger-110 hidden-480"></i>
										更新时间
									</th>	
									<th style="padding:8px 1px;text-align: center">操作</th>														
								</tr>
							</thead>
							<tbody>
								{volist name="fm_listfs" id="fm_listf" key="fkey"}
								<tr style="height:40px" id="first_module{$fm_listf.fm_id}">
									<td class="center" style="vertical-align:middle;padding:4px 1px;font-weight: 600">{$fkey}</td>
									<td style="vertical-align:middle;padding:4px 1px;" id="fm_icon{$fm_listf.fm_id}">
										<i class="{$fm_listf.fm_icon}"></i>
										<input type="text" value="{$fm_listf.fm_icon}" onblur="updateObj(this,'{$fm_listf.fm_icon}','first_module','fm_icon','{$fm_listf.fm_id}','fm_id',1)" style="color:#393939;width:77%;border:none; background:transparent;padding: 0px;font-size: 13px;height: 30px;"/>
									</td>																											
									<td style="vertical-align:middle;padding:4px 1px;" id="fm_name{$fm_listf.fm_id}">
										<input type="text" value="{$fm_listf.fm_name}" onblur="updateObj(this,'{$fm_listf.fm_name}','first_module','fm_name','{$fm_listf.fm_id}','fm_id',1)" style="color:#393939;width:100%;border:none; background:transparent;padding: 0px;font-size: 13px;height: 30px;"/>
									</td>
									<td style="vertical-align:middle;padding:4px 1px">
									</td>
									<td style="vertical-align:middle;padding:4px 1px">
									</td>
									<td style="vertical-align:middle;padding:4px 1px" id="fm_controller{$fm_listf.fm_id}">
										<input type="text" value="{$fm_listf.fm_controller}" onblur="updateObj(this,'{$fm_listf.fm_controller}','first_module','fm_controller','{$fm_listf.fm_id}','fm_id',1)" style="color:#393939;width:100%;border:none; background:transparent;padding: 0px;font-size: 13px;height: 30px;"/>
									</td>
									<td style="vertical-align:middle;padding:4px 1px" id="fm_method{$fm_listf.fm_id}">
										<input type="text" value="{$fm_listf.fm_method}" onblur="updateObj(this,'{$fm_listf.fm_method}','first_module','fm_method','{$fm_listf.fm_id}','fm_id',0)" style="color:#393939;width:100%;border:none; background:transparent;padding: 0px;font-size: 13px;height: 30px;"/>
									</td>
									<td style="vertical-align:middle;padding:4px 1px" id="tbname{$fm_listf.fm_id}">
										<input type="text" value="{$fm_listf.tbname|substr=6}" onblur="updateObj(this,'{$fm_listf.tbname}','first_module','tbname','{$fm_listf.fm_id}','fm_id',0)" style="color:#393939;width:100%;border:none; background:transparent;padding: 0px;font-size: 13px;height: 30px;"/>
									</td>
									<td style="vertical-align:middle;padding:4px 1px;text-align: center;" id="fm_state{$fm_listf.fm_id}">
										{eq name="fm_listf.fm_state" value="1"}
											<span style="color:rgb(10, 184, 48);" onclick="updateObjState({$fm_listf.fm_id},'fm_id',{$fm_listf.fm_state},'fm_state','first_module',1,'fm_addtime','{$fm_listf.fm_addtime|default=0}')">是</span>
										{else/}
											<span style="color:#8089a0;" onclick="updateObjState({$fm_listf.fm_id},'fm_id',{$fm_listf.fm_state},'fm_state','first_module',1,'fm_addtime','{$fm_listf.fm_addtime|default=0}')">否</span>
										{/eq}
									</td>
									<td style="vertical-align:middle;padding:4px 1px;text-align: center;" id="is_parent{$fm_listf.fm_id}">
										{eq name="fm_listf.is_parent" value="1"}
											<span style="color:rgb(10, 184, 48);" onclick="updateObjState({$fm_listf.fm_id},'fm_id',{$fm_listf.is_parent},'is_parent','first_module',0,'','')">是</span>
										{else/}
											<span style="color:#8089a0;" onclick="updateObjState({$fm_listf.fm_id},'fm_id',{$fm_listf.is_parent},'is_parent','first_module',0,'','')">否</span>
										{/eq}
									</td>
									<td style="vertical-align:middle;padding:4px 1px;text-align: center;" id="is_powerf{$fm_listf.fm_id}">
										{eq name="fm_listf.is_powerf" value="1"}
											<span style="color:rgb(10, 184, 48);" onclick="updateObjState({$fm_listf.fm_id},'fm_id',{$fm_listf.is_powerf},'is_powerf','first_module',0,'','')">是</span>
										{else/}
											<span style="color:#8089a0;" onclick="updateObjState({$fm_listf.fm_id},'fm_id',{$fm_listf.is_powerf},'is_powerf','first_module',0,'','')">否</span>
										{/eq}
									</td>
									<td style="vertical-align:middle;padding:4px 1px;text-align: center;" id="is_openf{$fm_listf.fm_id}">
										{eq name="fm_listf.is_openf" value="1"}
											<span style="color:rgb(10, 184, 48);" onclick="updateObjState({$fm_listf.fm_id},'fm_id',{$fm_listf.is_openf},'is_openf','first_module',0,'','')">是</span>
										{else/}
											<span style="color:#8089a0;" onclick="updateObjState({$fm_listf.fm_id},'fm_id',{$fm_listf.is_openf},'is_openf','first_module',0,'','')">否</span>
										{/eq}
									</td>
									<td class="hidden-480" style="vertical-align:middle;padding:4px 1px;text-align: center;" id="fm_addtime{$fm_listf.fm_id}">
										{$fm_listf.fm_addtime|date="Y-m-d"}
									</td>
									<td style="padding:0px;line-height: 0;vertical-align: middle;text-align: center">
										<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
											{eq name="fm_listf.is_parent" value="1"}
											<a class="blue" href="{:url('admin/menu/add',array('is_parent'=>1,'tbname'=>'second_module','field'=>'sm_name','parent_id'=>$fm_listf.fm_id,'parent_field'=>'fm_id'))}" style="margin:0px">
												<i class="icon-plus bigger-100"></i>
											</a>
											{/eq}
											<div id="" style="display:inline">
												<a class="red" href="javascript:deleteObjOne({$fm_listf.fm_id},'fm_id','first_module')" style="margin:0px" >
													<i class="icon-trash bigger-100"></i>
												</a>
											</div>
										</div>
									</td>
								</tr>
								{eq name="fm_listf.is_parent" value="1"}
									{volist name="sm_listss" id="sm_lists" key="skey"}
									{eq name="sm_lists.fm_id" value="$fm_listf.fm_id"}
										<tr style="height:40px" id="second_module{$sm_lists.sm_id}">
											<td class="center" style="vertical-align:middle;padding:4px">{$fkey}.{$sm_lists.sm_sort}</td>
											<td style="vertical-align:middle;padding:4px 1px" id="sm_icon{$sm_lists.sm_id}">
												<i class="{$sm_lists.sm_icon}"></i>
												<input type="text" value="{$sm_lists.sm_icon}" onblur="updateObj(this,'{$sm_lists.sm_icon}','second_module','sm_icon','{$sm_lists.sm_id}','sm_id',0)" style="color:#393939;width:77%;border:none; background:transparent;padding: 0px;font-size: 13px;height: 30px;"/>
											</td>
											<td style="vertical-align:middle;padding:4px 1px">
											</td>
											<td style="vertical-align:middle;padding:4px 1px" id="sm_name{$sm_lists.sm_id}">
												<input type="text" value="{$sm_lists.sm_name}" onblur="updateObj(this,'{$sm_lists.sm_name}','second_module','sm_name','{$sm_lists.sm_id}','sm_id',0)" style="color:#393939;width:100%;border:none; background:transparent;padding: 0px;font-size: 13px;height: 30px;"/>
											</td>
											<td style="vertical-align:middle;padding:4px 1px">
											</td>
											<td style="vertical-align:middle;padding:4px 1px" id="sm_controller{$sm_lists.sm_id}">
												<input type="text" value="{$sm_lists.sm_controller}" onblur="updateObj(this,'{$sm_lists.sm_controller}','second_module','sm_controller','{$sm_lists.sm_id}','sm_id',0)" style="color:#393939;width:100%;border:none; background:transparent;padding: 0px;font-size: 13px;height: 30px;"/>
											</td>
											<td style="vertical-align:middle;padding:4px 1px" id="sm_method{$sm_lists.sm_id}">
												<input type="text" value="{$sm_lists.sm_method}" onblur="updateObj(this,'{$sm_lists.sm_method}','second_module','sm_method','{$sm_lists.sm_id}','sm_id',0)" style="color:#393939;width:100%;border:none; background:transparent;padding: 0px;font-size: 13px;height: 30px;"/>
											</td>
											<td style="vertical-align:middle;padding:4px 1px" id="tbname{$sm_lists.sm_id}">
												<input type="text" value="{$sm_lists.tbname|substr=6}" onblur="updateObj(this,'{$sm_lists.tbname}','second_module','tbname','{$sm_lists.sm_id}','sm_id',0)" style="color:#393939;width:100%;border:none; background:transparent;padding: 0px;font-size: 13px;height: 30px;"/>
											</td>
											<td style="vertical-align:middle;padding:4px 1px;text-align: center;" id="sm_state{$sm_lists.sm_id}">
												{eq name="sm_lists.sm_state" value="1"}
													<span style="color:rgb(10, 184, 48);" onclick="updateObjState({$sm_lists.sm_id},'sm_id',{$sm_lists.sm_state},'sm_state','second_module',1,'sm_addtime','{$sm_lists.sm_addtime|default=0}')">是</span>
												{else/}
													<span style="color:#8089a0;" onclick="updateObjState({$sm_lists.sm_id},'sm_id',{$sm_lists.sm_state},'sm_state','second_module',1,'sm_addtime','{$sm_lists.sm_addtime|default=0}')">否</span>
												{/eq}
											</td>
											<td style="vertical-align:middle;padding:4px 1px;text-align: center;" id="is_parents{$sm_lists.sm_id}">
												{eq name="sm_lists.is_parents" value="1"}
													<span style="color:rgb(10, 184, 48);" onclick="updateObjState({$sm_lists.sm_id},'sm_id',{$sm_lists.is_parents},'is_parents','second_module',0,'','')">是</span>
												{else/}
													<span style="color:#8089a0;" onclick="updateObjState({$sm_lists.sm_id},'sm_id',{$sm_lists.is_parents},'is_parents','second_module',0,'','')">否</span>
												{/eq}
											</td>
											<td style="vertical-align:middle;padding:4px 1px;text-align: center;" id="is_powers{$sm_lists.sm_id}">
												{eq name="sm_lists.is_powers" value="1"}
													<span style="color:rgb(10, 184, 48);" onclick="updateObjState({$sm_lists.sm_id},'sm_id',{$sm_lists.is_powers},'is_powers','second_module',0,'','')">是</span>
												{else/}
													<span style="color:#8089a0;" onclick="updateObjState({$sm_lists.sm_id},'sm_id',{$sm_lists.is_powers},'is_powers','second_module',0,'','')">否</span>
												{/eq}
											</td>
											<td style="vertical-align:middle;padding:4px 1px;text-align: center;" id="is_opens{$sm_lists.sm_id}">
												{eq name="sm_lists.is_opens" value="1"}
													<span style="color:rgb(10, 184, 48);" onclick="updateObjState({$sm_lists.sm_id},'sm_id',{$sm_lists.is_opens},'is_opens','second_module',0,'','')">是</span>
												{else/}
													<span style="color:#8089a0;" onclick="updateObjState({$sm_lists.sm_id},'sm_id',{$sm_lists.is_opens},'is_opens','second_module',0,'','')">否</span>
												{/eq}
											</td>
											<td class="hidden-480" style="vertical-align:middle;padding:4px 1px;text-align: center;">
												{$sm_lists.sm_addtime|date="Y-m-d"}
											</td>
											<td style="padding:1px;line-height: 0;vertical-align: middle;text-align: center">
												<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
													{eq name="sm_lists.is_parents" value="1"}
													<a class="blue" href="{:url('admin/menu/add',array('is_parent'=>1,'tbname'=>'three_module','field'=>'tm_name','parent_id'=>$sm_lists.sm_id,'parent_field'=>'sm_id'))}" style="margin:0px">
														<i class="icon-plus bigger-100"></i>
													</a>
													{/eq}
													<div id="" style="display:inline">
														<a class="red" href="javascript:deleteObjOne({$sm_lists.sm_id},'sm_id','second_module')"  style="margin:0px">
															<i class="icon-trash bigger-100"></i>
														</a>
													</div>
												</div>
											</td>
										</tr>
											{eq name="sm_lists.is_parents" value="1"}
											{volist name="tm_listts" id="tm_listt" key="tkey"}
											{eq name="tm_listt.sm_id" value="$sm_lists.sm_id"}
												<tr style="height:40px" id="three_module{$tm_listt.tm_id}">
													<td class="center" style="vertical-align:middle;padding:4px">{$fkey}.{$sm_lists.sm_sort}.{$tm_listt.tm_sort}</td>
													<td style="vertical-align:middle;padding:4px 1px" id="tm_icon{$tm_listt.tm_id}">
														<i class="{$tm_listt.tm_icon}"></i>
														<input type="text" value="{$tm_listt.tm_icon}" onblur="updateObj(this,'{$tm_listt.tm_icon}','three_module','tm_icon','{$tm_listt.tm_id}','tm_id',0)" style="color:#393939;width:77%;border:none; background:transparent;padding: 0px;font-size: 13px;height: 30px;"/>
													</td>																											
													<td style="vertical-align:middle;padding:4px 1px">
													</td>
													<td style="vertical-align:middle;padding:4px 1px">
													</td>
													<td style="vertical-align:middle;padding:4px 1px" id="tm_name{$tm_listt.tm_id}">
														<input type="text" value="{$tm_listt.tm_name}" onblur="updateObj(this,'{$tm_listt.tm_name}','three_module','tm_name','{$tm_listt.tm_id}','tm_id',0)" style="color:#393939;width:100%;border:none; background:transparent;padding: 0px;font-size: 13px;height: 30px;"/>
													</td>
													<td style="vertical-align:middle;padding:4px 1px" id="tm_controller{$tm_listt.tm_id}">
														<input type="text" value="{$tm_listt.tm_controller}" onblur="updateObj(this,'{$tm_listt.tm_controller}','three_module','tm_controller','{$tm_listt.tm_id}','tm_id',0)" style="color:#393939;width:100%;border:none; background:transparent;padding: 0px;font-size: 13px;height: 30px;"/>
													</td>
													<td style="vertical-align:middle;padding:4px 1px" id="tm_method{$tm_listt.tm_id}">
														<input type="text" value="{$tm_listt.tm_method}" onblur="updateObj(this,'{$tm_listt.tm_method}','three_module','tm_method','{$tm_listt.tm_id}','tm_id',0)" style="color:#393939;width:100%;border:none; background:transparent;padding: 0px;font-size: 13px;height: 30px;"/>
													</td>
													<td style="vertical-align:middle;padding:4px 1px" id="tbname{$tm_listt.tm_id}">
														<input type="text" value="{$tm_listt.tbname|substr=6}" onblur="updateObj(this,'{$tm_listt.tbname}','three_module','tbname','{$tm_listt.tm_id}','tm_id',0)" style="color:#393939;width:100%;border:none; background:transparent;padding: 0px;font-size: 13px;height: 30px;"/>
													</td>
													<td style="vertical-align:middle;padding:4px 1px;text-align: center;" id="tm_state{$tm_listt.tm_id}">
														{eq name="tm_listt.tm_state" value="1"}
															<span style="color:rgb(10, 184, 48);" onclick="updateObjState({$tm_listt.tm_id},'tm_id',{$tm_listt.tm_state},'tm_state','three_module',1,'tm_addtime','{$tm_listt.tm_addtime|default=0}')">是</span>
														{else/}
															<span style="color:#8089a0;" onclick="updateObjState({$tm_listt.tm_id},'tm_id',{$tm_listt.tm_state},'tm_state','three_module',1,'tm_addtime','{$tm_listt.tm_addtime|default=0}')">否</span>
														{/eq}
													</td>
													<td style="vertical-align:middle;padding:4px 1px;text-align: center;" id="">													
													</td>
													<td style="vertical-align:middle;padding:4px 1px;text-align: center;" id="is_powert{$tm_listt.tm_id}">
														{eq name="tm_listt.is_powert" value="1"}
															<span style="color:rgb(10, 184, 48);" onclick="updateObjState({$tm_listt.tm_id},'tm_id',{$tm_listt.is_powert},'is_powert','three_module',0,'','')">是</span>
														{else/}
															<span style="color:#8089a0;" onclick="updateObjState({$tm_listt.tm_id},'tm_id',{$tm_listt.is_powert},'is_powert','three_module',0,'','')">否</span>
														{/eq}
													</td>
													<td style="vertical-align:middle;padding:4px 1px;text-align: center;" id="is_opent{$tm_listt.tm_id}">
														{eq name="tm_listt.is_opent" value="1"}
															<span style="color:rgb(10, 184, 48);" onclick="updateObjState({$tm_listt.tm_id},'tm_id',{$tm_listt.is_opent},'is_opent','three_module',0,'','')">是</span>
														{else/}
															<span style="color:#8089a0;" onclick="updateObjState({$tm_listt.tm_id},'tm_id',{$tm_listt.is_opent},'is_opent','three_module',0,'','')">否</span>
														{/eq}
													</td>
													<td class="hidden-480" style="vertical-align:middle;padding:4px 1px;text-align: center;">
														{$tm_listt.tm_addtime|date="Y-m-d"}
													</td>
													<td style="padding:2px;line-height: 0;vertical-align: middle;text-align: center">
														<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
															<div id="" style="display:inline">
																<a class="red" href="javascript:deleteObjOne({$tm_listt.tm_id},'tm_id','three_module')" style="margin:0 1px" >
																	<i class="icon-trash bigger-110"></i>
																</a>
															</div>
														</div>
													</td>
												</tr>
											{/eq}
											{/volist}
											{/eq}
										{/eq}
									{/volist}
									{/eq}
								{/volist}
							</tbody>
						</table>	
					</div>
				</div>
			</div>
		</div>
	</div>
{/block}